{{define "yield"}}
    <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
        <section>
            <h3 class="font-bold text-2xl">{{.Title}}</h3>
        </section>
    </main>
{{end}}